<% if user_signed_in? %>
  <% if store.favorited_by?(current_user) %>
    <p><span>ヨカッタ！解除: </span><%=link_to store.goods.count, good_path(store.id), method: :delete, remote: true %></p>
  <% else %>
    <p><span>ヨカッタ！: </span><%=link_to store.goods.count, store_goods_path(store.id), method: :post, remote: true %></p>
  <% end %>
<% else %>
  <p><span>ヨカッタ！（ログインしてね）: </span><%= store.goods.count %></p>
<% end %>